[user]
	name = beca
	email = ougsch@gmail.com
[alias]
    co = checkout
    ci = commit
    p  = push
    br = branch
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit --
[color]
    ui = true
[core]
    editor = vim
